body{
    background-color: #00274C;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
ul li{
    list-style-type: square;
    margin-bottom: 10px;
    margin-left: 35%;
    text-align: left;
}
a:link {
    color: white;
}
a:visited {
    color: #FFCB05;
}
a:hover {
    color: gray;
}
a:active {
    color: #FFCB05;
}